<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="static/components/grid.min.css">
    <link rel="stylesheet" type="text/css" href="static/components/message.min.css">
    <link rel="stylesheet" type="text/css" href="static/components/icon.min.css">
    <title>Welcome</title>
    <style type="text/css">
      body {
        background-color: aliceblue
      }
    </style>
  </head>
  <body>
    <div class="ui container grid">
      <div class="ui middle aligned column centered twelve wide grid">
        <div class="row"></div>
        <div class="row">
          <div clas="column grid">
            <div class="ui text container segment blue">
              <h1 class="ui header">注意事项！</h1>
            </div>
          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="ui twelve wide column grid">
            <div class="ui icon message">
              <i class="info icon blue"></i>
              <div class="content">
                <p><b>接下来你将看到两两一组的模型分割图，一种分割方式对应6个方向上的视图（不同部分以颜色区分）。移动鼠标到图像的中间部分选择你认为更合适的分割方式，结合美观性(比如分割不要切到脸部等关键部位，对称性等)、稳定性(切割不应该在比较细的连接处切割)、结构合理性（分块大小应该均匀等）等因素综合考虑。点击自己选择的模型之后进入下一组图。整个实验过程大概50-60分钟。<a class="link" href='/'>点击这里开始</a></1></b></p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
